.joinBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.joinForm {
  width: 400px;
  border: 1px solid cornflowerblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.joinInput {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* 게시판 */
.boardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.boardList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boardWrite {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid;
}

.title {
  font-weight: bold;
}

.inputRow {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.boardContent {
  min-width: 400px;
  border-radius: 8px;
  border-color: cornflowerblue;
}

input {
  padding: 10px;
  border-radius: 8px;
  border-color: cornflowerblue;
}

button {
  background-color: unset;
  padding: 10px;
  border-radius: 8px;
  border-color: cornflowerblue;
}

.btnBox {
  display: flex;
  gap: 10px;
}